
<div class="m-0">
    <div class="row">

        <div class="col p-5">
            <h3>Our Chefs</h3>
            <p>

                They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and stirring
                spoons (among other things). They make goodness so good, it doesn't know what to do with itself. We do
                though. We send it to you.

            </p>
        </div>
        <div class="col text-center">
            <img src="../../../../assets/happy-chef-600w-437116033.webp" alt="" class="h-75 ">
        </div>
    </div>
</div>